<!-- this ejs file is written by Aayush Kumar Gupta -->

<!-- External css -->
<link rel="stylesheet" href="/css/ask_password.css">

<div class="ask_password">
    <!-- Heading -->
    <h3>Verify it's you</h3>

    <!-- Form: post -->
    <form action="/auth/verify_user" method="post">

        <!-- Email - readOnly -->
        <div class="email">
            <label for="email">Email Id</label>
            <span><%= locals.user.email %></span>
            <input type="email" name="email" value="<%= locals.user.email %>" hidden>
        </div>

        <!-- Password: re-verify user -->
        <div class="password">
            <label for="password">Enter Password</label>
            <input type="password" name="password" placeholder="Enter your password">
        </div>

        <!-- Form: submit btn -->
        <div class="submit-btn">
            <input type="submit" value="Verify">
        </div>
    </form>
</div>