<!-- This ejs file is written by Aayush kumar gupta -->

<!-- External css -->
<link rel="stylesheet" href="/css/reset_password_page.css">


<!-- Ask Email address -->
<div id="reset_pass_form_conatiner">
    <h3>Reset password</h3>
    <div id="reset_pass">

        <!-- Form: Post -->
        <form method="post" action="/auth/generate_accessToken" id="rest_pass_form">
            <div class="mb-3 w-100">

                <!-- Email Address -->
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <!-- Submit: form -->
            <button type="submit" class="btn btn-primary">Generate Link</button>
        </form>
    </div>
</div>