<h1>Message Sent!!!</h1>
<br>
<br>
<br>
<p>An email with password reset link has been sent to registered email id, Please check your inbox!!</p>
<br>
<p>This email is Vaild for only 5 mins</p>
<!-- enable expriry date to the link -->