<!-- This file is written By Aayush Kumar Gupta -->

<!-- External Css  -->
<link rel="stylesheet" href="/css/update_password.css">

<!-- Change password Container -->
<div id="change_pass_form_container">
    <h3>Change Password</h3>

    <!-- Form: Post -->
    <form method="post" action="/auth/update_password" id="change_pass_form">

        <!-- Email - Readonly -->
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" value="<%= user.email %>" class="form-control" id="email" readonly="true">
        </div>

        <!-- Password -->
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>

        <!-- Confirm Password -->
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control" id="confirm_password">
        </div>

        <!-- When user is logged and know his/her password Value = 0 -->
        <div class="mb-3">
            <input type="text" name="isLogged" class="form-control invisible" id="isLogged" value="0">
        </div>

        <!-- Form : Submit -->
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>