// This scss file is written by Aayush Kumar Gupta

// profile container
.profile-container{
    width: 90%;
    margin: 20px auto;
    padding: 5px;

    display: flex;
    justify-content: space-between;

    // heading
    .heading{
        display: flex;
        flex-direction: column;
        padding: 5px;

        // user name 
        .name{
            font-size: 50px;
            font-weight: 500;
        }

        // user email
        .email{
            font-size: 25px;
            font-weight: 500;
            text-align: center;
            color: grey;
            font-style: italic;
        }
    }

    // button container
    .btn-container{
        padding: 10px 5px;
        display: flex;
        flex-direction: row;
        width: 30%;
        justify-content: end;

        // common styles for all buttons
        .btn{

            a{
                text-decoration: none;
                color: white;
                padding: 5px;
                border-radius: 5px;
            }
        }
        
        // specific - home btn
        .btn-home a{
            background-color: rgb(33, 33, 203);
        }

        // specific - update password btn
        .btn-u-pass a{
            background-color: rgb(198, 133, 28);
        }

        // specific - Sign out btn
        .btn-signout a{
            background-color: red;
        }
    }
}