// THis scss file is written by Aayush Kumar Gupta

// ask email address styles
#reset_pass_form_conatiner{
    width: 100vh;
    height: 91vh;
    margin: 0 auto;
    background-color: cadetblue;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(83, 69, 69, 0.2), 0 6px 20px 0 rgba(130, 30, 30, 0.19);

    // heading
    h3{
        position: absolute;
        top: 18%;
        left: 36%;
    }

    // form container
    #reset_pass{
        width: auto;
        height: auto;
        position: absolute;
        top: 30%;
        left: 23%;
        padding: 50px;
        background-color: lightblue;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}