// This scss file is written by Aayush Kumar Gupta

// Update password container
#change_pass_form_container{
    width: 100vh;
    height: 91vh;
    margin: 0 auto;
    background-color: cadetblue;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(83, 69, 69, 0.2), 0 6px 20px 0 rgba(130, 30, 30, 0.19);

    h3{
        position: absolute;
        top: 7%;
        left: 32%;
    }

    // Form
    #change_pass_form{
        width: 60%;
        height: auto;
        position: absolute;
        top: 17%;
        left: 19%;
        padding: 50px;
        background-color: lightblue;
        box-shadow: 0 4px 8px 0 rgba(83, 69, 69, 0.2), 0 6px 20px 0 rgba(130, 30, 30, 0.19);
    }
}