<div>

    <!-- add name of the user here -->
    <p>Hi, <%= userWithAT.user.name %>!</p>

    <br>

    <p>
        This below link will be used to reset the password.
        <strong>This link will be expired in 5 mins.</strong>
    </p>

    <br>
    <h4>Link to reset password: </h4>
    <p>
        <!-- add router link with accessToken in both ref and content -->
        <a href="http://localhost:8080/auth/verify_key/<%= userWithAT.accessToken %>">reset_key/?accessToken=<%= userWithAT.accessToken %></a>
    </p>

    <br>
    <br>

    <p>
        For other query, please contact our support page
        <br>
        support@nodeAuth.com
    </p>
</div>